<div class="container p-5">
  <br>
  <h1 class="display-5 fw-bold text-center">
    Personajes de la serie Rick And Morty
    <hr class="py-1 text-dark">
  </h1>
  <br>
  <div class="row">
    <div class="col-3" *ngFor="let character of characters">
      <div class="card border-0 rounded-3 mt-5">
        <img [src]="character.image" [alt]="character.name" class="card-image-top rounded-circle">
        <div class="card-body text-center">
          <div class="card-title">{{ character.name }}</div>
          <a role="button" (click)="getCharacter(character.id)" class="card-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Mas detalles...
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="character">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ character.name }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless">
          <tr>
            <th>Especie</th>
            <td>{{ character.species }}</td>
          </tr>
          <tr>
            <th>Estado</th>
            <td>{{ character.status }}</td>
          </tr>
          <tr>
            <th>Tipo</th>
            <td>{{ character.type }}</td>
          </tr>
          <tr>
            <th>Genero</th>
            <td>{{ character.gender }}</td>
          </tr>
          <tr>
            <th>Specie</th>
            <td>{{ character.species }}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>