<div class="container p-5">
  <br />
  <h1 class="display-5 fw-bold text-center d-flex justify-content-between">
    {{ title }}
    <button
      type="button"
      class="btn btn-default btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
    >
      <i class="bi bi-search"></i>
    </button>
  </h1>
  <hr class="py-1 text-dark" />
  <br />
  <div class="row">
    <div class="col-3" *ngFor="let character of characters$ | async">
      <div class="card border-0 rounded-3 mt-5">
        <img
          [src]="character.image"
          [alt]="character.name"
          class="card-image-top rounded-circle"
        />
        <div class="card-body text-center">
          <div class="card-title">
            <h3>{{ character.name }}</h3>
          </div>
          <a
            role="button"
            (click)="getCharacter(character.id)"
            class="card-link text-decoration-none"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Mas detalles...
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{ disabled: next === 1 }">
        <a role="button" class="page-link" (click)="pagesMinus()"> Anterior </a>
      </li>
      <li class="page-item" [ngClass]="{ disabled: pages === next }">
        <a role="button" class="page-link" (click)="pagesPlus()"> Siguiente </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <ng-container *ngIf="character$ | async as character">
      <div class="modal-content">
        <div class="card py-2 px-2">
          <div class="row g-0">
            <div class="col-md-6">
              <img
                [src]="character.image"
                class="img-fluid rounded-circle"
                [alt]="character.name"
              />
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title pt-1 text-center">
                  <b>{{ character.name }}</b>
                  <hr />
                </h5>
                <table class="table table-borderless">
                  <tr>
                    <th>Especie</th>
                    <td>{{ character.species }}</td>
                  </tr>
                  <tr>
                    <th>Estado</th>
                    <td>{{ character.status }}</td>
                  </tr>
                  <tr>
                    <th>Tipo</th>
                    <td>{{ character.type }}</td>
                  </tr>
                  <tr>
                    <th>Genero</th>
                    <td>{{ character.gender }}</td>
                  </tr>
                  <tr>
                    <th>Specie</th>
                    <td>{{ character.species }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-secondary fs-4 rounded-0" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <input
        class="form-control fs-5"
        [(ngModel)]="search"
        (ngModelChange)="changeValueSearch()"
        (keypress)="filterCharacter()"
      />
    </div>
  </div>
</div>
